

.hidden {
  display: none;
}

.pizarra{
  background-image: url('./assets/fondos/entorno5.png');
  background-size: contain;
  width:1500px;
  height: 570px;
  display: inline-block;
  background-repeat: no-repeat;
}
.img-fluid:hover{
  src: url('./assets/botones y cotes restantes/bot_elegir_sobre.png');
}

div .column1 {
  transform: translate(17px, 1px);
  transform: translate(21px, 2px);
}

div .column2 {
  transform: translate(-24px, 8px);
}